
<Modal::Base
  @title="Create Folder"
  @actionTitle="Create"
  @onClose={{@onClose}}
  @onSubmit={{this.onSubmit}}
  @onCancel={{this.onCancel}}
  {{on-key 'Enter' this.onSubmit}}
  {{on "hide.bs.modal" this.onHide}}
  ...attributes
>
  <label for="folder-title" class="form-label">Folder title:</label>
  <Input
    id="folder-title"
    class="form-control"
    @type="text"
    @value={{this.title}}
  />
  <div class="text-danger m-1">
    {{#each this.errors as |error|}}
      {{error.code}} - {{error.detail}}
    {{/each}}
  </div>
</Modal::Base>
