<div>
  <button
    class="btn btn-success"
    type="button"
    {{on "click" @openRenameDocumentModal}}>
    <i class="fa fa-edit"></i>
    Rename
  </button>
  <Button::DownloadDocumentVersion
    @document_versions={{@document_versions}} />


    {{#if @isLocked}}
      <button
        class="btn btn-light"
        type="button"
        disabled
        {{on "click" @onRunOCR}}>
          <OcrStatus @status={{@ocrStatus}} />
        Run OCR
      </button>
    {{else}}
      <button
        class="btn btn-light"
        type="button"
        {{on "click" @onRunOCR}}>
          <OcrStatus @status={{@ocrStatus}} />
        Run OCR
      </button>
    {{/if}}
  {{#if @page_order_changed }}
    Page order changed.
    <button
      class="btn btn-success pe-4"
      type="button"
      {{on "click" @onPageOrderApply}}>
        <Spinner @inProgress={{@apply_page_order_changes_in_progress}} />
        Apply Changes
    </button>
    <button
      class="btn btn-secondary"
      type="button"
      {{on "click" @onPageOrderDiscard}}>
      Discard
    </button>
  {{else if this.is_any_page_selected }}
    <button
      type="button"
      data-bs-toggle="dropdown"
      class="btn btn-light dropdown-toggle mx-1">
      ...
    </button>
    <ul class="dropdown-menu"
      aria-expand="false"
      aria-labelledby="display-mode">
      <li class="dropdown-item">
        <button
          class="btn"
          {{on "click" (fn @onRotateClockwise 270)}}>
          <i class="bi bi-arrow-clockwise"></i>
          Rotate 90 CW
        </button>
      </li>
      <li class="dropdown-item">
        <button
          class="btn"
          {{on "click" (fn @onRotateClockwise 180)}}>
          <i class="bi bi-arrow-clockwise"></i>
          Rotate 180 CW
        </button>
      </li>

      <li class="dropdown-item">
        <button
          class="btn"
          {{on "click" (fn @onRotateClockwise 90)}}>
          <i class="bi bi-arrow-counterclockwise"></i>
          Rotate 90 CCW
        </button>
      </li>
      <li class="dropdown-item">
        <button
          class="btn"
          {{on "click" @openConfirmDeletionModal}}>
          <i class="fa fa-times text-danger"></i>
          Delete Pages
        </button>
      </li>
    </ul>
  {{/if}}
</div>
