<div>
  <Button::DownloadDocumentVersion
    @document_versions={{@document_versions}} />
    {{#if @isLocked}}
      <button
        class="btn btn-light"
        type="button"
        disabled
        {{on "click" @onRunOCR}}>
          <OcrStatus @status={{@ocrStatus}} />
        Run OCR
      </button>
    {{else}}
      <button
        class="btn btn-light"
        type="button"
        {{on "click" @onRunOCR}}>
          <OcrStatus @status={{@ocrStatus}} />
        Run OCR
      </button>
    {{/if}}
  {{#if @page_order_changed }}
    Page order changed.
    <button
      class="btn btn-success"
      type="button"
      {{on "click" @onPageOrderApply}}>
      Apply Changes
    </button>
    <button
      class="btn btn-secondary"
      type="button"
      {{on "click" @onPageOrderDiscard}}>
      Discard
    </button>
  {{else if this.is_any_page_selected }}
    <button
      class="btn btn-light"
      type="button"
      {{on "click" @onRotateClockwise}} >
      <i class="bi bi-arrow-clockwise"></i>
      Rotate
    </button>
    <button
      class="btn btn-light"
      type="button"
      {{on "click" @onRotateCounterclockwise}} >
      <i class="bi bi-arrow-counterclockwise"></i>
      Rotate
    </button>
    <button
      class="btn btn-danger mx-5"
      type="button"
      {{on "click" @openConfirmDeletionModal}} >
      <i class="fa fa-times"></i>
      Delete Pages
    </button>
  {{/if}}
</div>
