<Modal::Base
  @title="Confirm Deletion"
  @actionTitle="Delete"
  @onClose={{@onClose}}
  @onSubmit={{this.onSubmit}}
  @submitButtonClass="btn-danger"
  @onCancel={{this.onCancel}}
  ...attributes
>
  <p>
    If you click DELETE button following {{this.count}} document(s) and/or folder(s) will be deleted:
    <strong>{{this.titles_to_be_deleted}}</strong>
  </p>

  <p>
    Are you sure you want to do that?
  </p>

</Modal::Base>