
<Modal::Base
  @title="Create Folder"
  @actionTitle="Create"
  @onClose={{@onClose}}
  @onSubmit={{this.onSubmit}}
  @onCancel={{this.onCancel}}
  {{on-key 'Enter' this.onSubmit}}
  ...attributes
>
  <label for="folder-title" class="form-label">Folder title:</label>
  <Input
    id="folder-title"
    class="form-control"
    @type="text"
    @value={{this.title}}
  />
</Modal::Base>