
<Modal::Base
  @title="Rename"
  @actionTitle="Rename"
  @onClose={{@onClose}}
  @onSubmit={{this.onSubmit}}
  @onCancel={{this.onCancel}}
  {{on-key 'Enter' this.onSubmit}}
  ...attributes
>
  {{this.title}}
  <label for="node-title" class="form-label">New title:</label>
  <Input
    id="node-title"
    class="form-control"
    @type="text"
    @value={{this.new_title}} />
</Modal::Base>