<Modal::Base
  @title="Tags"
  @actionTitle="Submit"
  @onClose={{@onClose}}
  @onSubmit={{this.onSubmit}}
  @onCancel={{this.onCancel}}
  @node={{@node}}
  ...attributes>

  <label for="folder-title" class="form-label">Tags editor:</label>
  <TagInput
    @tags={{this.new_tags}}
    @onTagAdd={{this.onTagAdd}}
    @onTagRemove={{this.onTagRemove}} />

</Modal::Base>
