<div class="node document {{if this.is_selected "checked"}}">

  <Input
    @type="checkbox"
    @checked={{this.is_selected}}
    {{on "change" this.onCheckboxChange}} />
  <div class="icon document"></div>
  <div class="title">
    <LinkTo
      @route="authenticated.document"
      @model={{@model.id}}>
      {{@model.title}}
    </LinkTo>
  </div>
</div>