All Nodes
<div class="nodes">
  <ul class="results">
      {{#each @nodes as |node|}}
        <li class="item">
          title={{ @node.title }}
          type={{@node.type}}
          {{#if @node.is_document }}
            <Document @model={{node}} />
          {{ else }}
            <Folder @model={{node}} />
          {{/if }}
        </li>
      {{/each}}
  </ul>
</div>