<div class="mb-3">
  <Label @for="name" @text="Name" />
  <Input @value={{this.name}}
    class="form-control"
    id="name"
    placeholder="Automate's name" />
</div>
<div class="mb-3">
  <Label @for="match" @text="Match" />
  <Input @value={{this.match}}
    class="form-control"
    id="match"
    placeholder="Expression to be matched" />
</div>
<div class="mb-3">
  <Label @for="matching_algorithm" @text="Matching Algorithm" />
  <Select @options={{this.matching_alg_options}}
    @onChange={{this.onChangeMatchingAlg}}
    name="matching_algorithm"/>
</div>
<div class="mb-3">
  <Input @checked={{this.is_case_sensitive}}
    @type="checkbox"
    class="form-control-checkbox"
    id="is_case_sensitive" />
  <Label @for="is_case_sensitive" @text="Is case sensitive" />
</div>
<div class="mb-3">
  <Label @for="tags" @text="Tags" />
  <Input @value={{this.tags}}
    class="form-control"
    id="tags" />
  <small class="form-text text-muted">
    These tags will be assigned to matched document.
  </small>
</div>
<div class="mb-3">
  <Label @for="dst_folder" @text="Destination Folder" />
  <Select @options={{this.dst_folder_options}}
    @onChange={{this.onChangeDstFolder}}
    name="dst_folder" />
</div>
<div class="mb-3">
  <Button::Submit @onClick={{this.onSubmit}} />
  <Button::Cancel @route="automates"/>
</div>