<div class="mb-3">
  <Label @for="name" @text="Name" />
  <Input @value={{this.name}}
    class="form-control"
    id="name"
    placeholder="Automate's name" />
</div>
<div class="mb-3">
  {{this.the_var}}
  <Label @for="match" @text="Match" />
  <Input @value={{this.match}}
    class="form-control"
    id="match"
    placeholder="Expression to be matched" />
</div>
<div class="mb-3">
  <Label @for="matching_algorithm" @text="Matching Algorithm" />
  <Select class="form-select">
    <option value="1" selected>Any</option>
    <option value="2">All</option>
    <option value="3">Literal</option>
    <option value="4">Regular Expression</option>
  </Select>
</div>
<div class="mb-3">
  <input type="checkbox" class="form-control-checkbox" id="is_case_sensitive" />
  <Label @for="is_case_sensitive" @text="Is case sensitive" />
</div>
<div class="mb-3">
  <Label @for="tags" @text="Tags" />
  <Input @value={{this.tags}}
    class="form-control"
    id="tags" />
  <small class="form-text text-muted">
    These tags will be assigned to matched document.
  </small>
</div>
<div class="mb-3">
  <Label @for="dst_folder" @text="Destination Folder" />
  {{this.dst_folder}}
  <Select @options={{this.dst_folder_options}}
    @value={{this.dst_folder}}
    name="dst_folder" />
</div>
<div class="mb-3">
  <Button::Submit @onClick={{this.onSubmit}} />
  <Button::Cancel @route="automates"/>
</div>