<div class="d-flex">

  <PanelModes
    @dualPanelMode={{@dualPanelMode}}
    @hint={{@hint}}
    @onSwapPanels={{@onSwapPanels}}
    @onDuplicatePanel={{@onDuplicatePanel}} />

  <div class="panel-mode">
    <button type="button" class="btn btn-light mx-1"
      {{on "click" (fn @onPanelToggle @hint)}}>
      {{#if @dualPanelMode}}
        <i class="bi-x"></i>
      {{else}}
        <i class="bi-layout-split"></i>
      {{/if}}
    </button>
  </div>
</div>