<div class="panel viewer col m-2 p-2">
  <div class="d-flex justify-content-between action-buttons">
    <Viewer::ActionButtons
      @document_versions={{this.document_versions}}
      @isLocked={{this.isLocked}}
      @ocrStatus={{this.ocrStatus}}
      @selectedPages={{this.selected_pages}}
      @openConfirmDeletionModal={{this.openConfirmDeletionModal}}
      @onRunOCR={{this.onRunOCR}} />

    <Viewer::ActionModes
      @onPanelToggle={{@onPanelToggle}}
      @dualPanelMode={{@dualPanelMode}}
      @hint={{@hint}} />
  </div>

  <Modal::DeletePages
    id="delete-pages"
    @selectedPages={{this.selected_pages}}
    @onClose={{this.closeConfirmDeletionModal}}
    {{show-when this.show_confirm_pages_deletion_modal}} />

  <Breadcrumb
    @node={{@doc}}
    @extranode={{@extranode}}
    @extradoc={{@extradoc}}
    @onNodeClicked={{this.onNodeClicked}}
    @hint={{@hint}} />

  <Viewer::Document
    @pages={{this.pages}}
    @selectedPages={{this.selected_pages}}
    @thumbnails_visible={{this.thumbnails_visible}}
    @onCheckboxChange={{this.onThumbnailCheckboxChange}} />
</div>
