<div class="panel viewer col m-2 p-2" {{contextMenu}}>
  <div class="d-flex justify-content-between action-buttons">
    <Viewer::ActionButtons
      @document_versions={{this.document_versions}}
      @isLocked={{this.isLocked}}
      @ocrStatus={{this.ocrStatus}}
      @selectedPages={{this.selected_pages}}
      @page_order_changed={{this.page_order_changed}}
      @apply_page_order_changes_in_progress={{this.apply_page_order_changes_in_progress}}
      @onPageOrderApply={{this.onPageOrderApply}}
      @onPageOrderDiscard={{this.onPageOrderDiscard}}
      @openConfirmDeletionModal={{this.openConfirmDeletionModal}}
      @openRenameDocumentModal={{this.openRenameDocumentModal}}
      @onRotateClockwise={{this.onRotateClockwise}}
      @onRunOCR={{this.onRunOCR}} />

    <Viewer::ActionModes
      @onPanelToggle={{@onPanelToggle}}
      @extra_id={{@extra_id}}
      @extra_type={{@extra_type}}
      @hint={{@hint}}
      @onSwapPanels={{@onSwapPanels}}
      @swap_panels={{@swap_panels}}
      @onDuplicatePanel={{@onDuplicatePanel}} />
  </div>

  <Viewer::ContextMenu
    @selectedPages={{this.selected_pages}}
    @onRotateClockwise={{this.onRotateClockwise}}
    @openRenameDocumentModal={{this.openRenameDocumentModal}}
    @openConfirmDeletionModal={{this.openConfirmDeletionModal}}
    @openConfirmDeleteDocumentModal={{this.openConfirmDeleteDocumentModal}}
    @openConfirmMergeDocumentModal={{
      this.openConfirmMergeDocumentModal
    }}
    @openExtractPagesModal={{this.openExtractPagesModal}}
    @openMovePagesModal={{this.openMovePagesModal}}

    @extra_id={{@extra_id}}
    @extra_type={{@extra_type}}
    @hint={{@hint}}
    @node={{@doc}}
    @swap_panels={{@swap_panels}} />

  <Viewer::Modal::DeletePages
    id="delete-pages"
    @selectedPages={{this.selected_pages}}
    @onSubmit={{this.submitConfirmDeletionModal}}
    {{show-when this.show_confirm_pages_deletion_modal}} />

  <Viewer::Modal::DeleteDocument
    id="delete-document"
    @doc={{@doc}}
    @onSubmit={{this.submitConfirmDocumentDeleteModal}}
    {{show-when this.show_confirm_document_delete_modal}} />

  <Modal::RenameNode
    @node={{@doc}}
    @onClose={{this.onCloseRenameModal}}
    {{show-when this.show_rename_node_modal}} />

  <Viewer::Modal::ExtractPages
    id="extract-pages"
    @selected_pages={{this.selected_pages}}
    @extra={{@extra}}
    @doc={{@doc}}
    @onSubmit={{this.onSubmitExtractPages}}
    {{show-when this.show_extract_pages_modal}} />

  <Viewer::Modal::MovePages
    id="move-pages"
    @selected_pages={{this.selected_pages}}
    @extra={{@extra}}
    @doc={{@doc}}
    @onSubmit={{this.onSubmitMovePages}}
    {{show-when this.show_move_pages_modal}} />    

  <Breadcrumb
    @node={{@doc}}
    @onNodeClicked={{@onNodeClicked}}
    @loadNodeData={{@loadNodeData}}
    @currently_loading_state={{@currently_loading_state}}
    @hint={{@hint}} />

  <Viewer::Document
    @doc={{@doc}}
    @pages={{this.pages}}
    @selectedPages={{this.selected_pages}}
    @thumbnails_visible={{this.thumbnails_visible}}
    @onCheckboxChange={{this.onThumbnailCheckboxChange}}
    @onThumbnailsPositionChanged={{this.onThumbnailsPositionChanged}}
    @onAddThumbnailPlaceholderAt={{this.onAddThumbnailPlaceholderAt}}
    @onRemoveThumbnailPlaceholder={{this.onRemoveThumbnailPlaceholder}}
    @onIncomingPages={{this.onIncomingPages}} />
</div>
