<div class="panel viewer col m-2 p-2">
  <div class="d-flex justify-content-between">
    <Viewer::ActionButtons
      @document_versions={{this.document_versions}}
      @isLocked={{this.isLocked}}
      @ocrStatus={{this.ocrStatus}}
      @onRunOCR={{this.onRunOCR}} />

    <Viewer::ActionModes
      @onPanelToggle={{@onPanelToggle}}
      @dualPanelMode={{@dualPanelMode}}
      @hint={{@hint}} />
  </div>

  <Breadcrumb
    @node={{@doc}}
    @extranode={{@extranode}}
    @extradoc={{@extradoc}}
    @onNodeClicked={{this.onNodeClicked}}
    @hint={{@hint}} />


  <Viewer::Document
    @pages={{this.pages}} />

</div>
