<div class="panel viewer col m-2 p-2" {{contextMenu}}>
  <div class="d-flex justify-content-between action-buttons">
    <Viewer::ActionButtons
      @document_versions={{this.document_versions}}
      @isLocked={{this.isLocked}}
      @ocrStatus={{this.ocrStatus}}
      @selectedPages={{this.selected_pages}}
      @page_order_changed={{this.page_order_changed}}
      @apply_page_order_changes_in_progress={{this.apply_page_order_changes_in_progress}}
      @onPageOrderApply={{this.onPageOrderApply}}
      @onPageOrderDiscard={{this.onPageOrderDiscard}}
      @openConfirmDeletionModal={{this.openConfirmDeletionModal}}
      @openRenameDocumentModal={{this.openRenameDocumentModal}}
      @onRotateClockwise={{this.onRotateClockwise}}
      @onRunOCR={{this.onRunOCR}} />

    <Viewer::ActionModes
      @onPanelToggle={{@onPanelToggle}}
      @dualPanelMode={{@dualPanelMode}}
      @hint={{@hint}}
      @onSwapPanels={{@onSwapPanels}}
      @onDuplicatePanel={{@onDuplicatePanel}} />
  </div>

  <Viewer::ContextMenu
    @selectedPages={{this.selected_pages}}
    @openRenameDocumentModal={{this.openRenameDocumentModal}}
    @openConfirmDeletionModal={{this.openConfirmDeletionModal}}
    @onExtractPages={{this.onExtractPages}} />

  <Modal::DeletePages
    id="delete-pages"
    @selectedPages={{this.selected_pages}}
    @onSubmit={{this.submitConfirmDeletionModal}}
    {{show-when this.show_confirm_pages_deletion_modal}} />

  <Modal::RenameNode
    @node={{@doc}}
    @onClose={{this.onCloseRenameModal}}
    {{show-when this.show_rename_node_modal}} />

  <Breadcrumb
    @node={{@doc}}
    @extranode={{@extranode}}
    @extradoc={{@extradoc}}
    @onNodeClicked={{this.onNodeClicked}}
    @hint={{@hint}} />

  <Viewer::Document
    @doc={{@doc}}
    @pages={{this.pages}}
    @selectedPages={{this.selected_pages}}
    @thumbnails_visible={{this.thumbnails_visible}}
    @onCheckboxChange={{this.onThumbnailCheckboxChange}}
    @onThumbnailsPositionChanged={{this.onThumbnailsPositionChanged}}
    @onAddThumbnailPlaceholderAt={{this.onAddThumbnailPlaceholderAt}}
    @onRemoveThumbnailPlaceholder={{this.onRemoveThumbnailPlaceholder}}
    @onIncomingPages={{this.onIncomingPages}} />
</div>
