<div class="panel viewer col m-2 p-2">
  <div class="d-flex justify-content-between">
    <Viewer::ActionButtons
      @onRunOCR={{this.onRunOCR}} />
  </div>

  <Breadcrumb
    @node={{@document_version.document}}
    @extranode={{@extranode}}
    @hint={{@hint}} />

  <div class="d-flex">
    <Viewer::Thumbnails @pages={{@pages}} />
    <Viewer::Pages @pages={{@pages}} />
  </div>
</div>
