<div class="d-flex flex-column pages"
  {{adjust_element_height}}>
    {{#each @pages as |page|}}
      {{#if page.isRunning}}
        <Viewer::PagePlaceholder />
      {{else}}
        {{#if page.is_drop_placeholder}}
          <!-- no op -->
        {{else}}
          <Viewer::Page
            @page={{page.value}}
            @scroll_to_page={{@scroll_to_page}}
            @zoom_factor={{@zoom_factor}} />
        {{/if}}
      {{/if}}
    {{/each}}
    <Viewer::Zoom
      @onZoomIn={{@onZoomIn}}
      @onZoomOut={{@onZoomOut}}
      @onZoomFit={{@onZoomFit}} />
</div>
