<div
  class="page d-flex flex-column align-items-center"
  {{scrollIntoView page=@page scroll_to_page=@scroll_to_page}}>

  {{#if @page.svg_image}}
    {{{@page.svg_image}}}
  {{else}}
    <img src="{{@page.url}}" />
  {{/if}}
  <div class="number fs-3 m-3">
    {{@page.number}}
  </div>

</div> <!-- .page -->
