<div
  class="d-flex flex-column thumbnails"
  {{adjust_element_height}}>
  {{#each @pages as |page|}}
    <Viewer::Thumbnail
      @page={{page}}
      @selectedPages={{@selectedPages}}
      @onDblClick={{@onDblClick}}
      @onCheckboxChange={{@onCheckboxChange}} />
  {{/each}}
</div>
