<div
  class="thumbnail d-flex flex-column align-items-center"
  {{on "dblclick" this.onDblClick}} >
  {{#if @page.svg_image}}
    {{{@page.svg_image}}}
  {{else}}
    <img src="{{@page.url}}" />
  {{/if}}
  <div class="number fs-3 m-3">
    {{@page.number}}
  </div>
</div>