<div class="mb-3">
  <Label @for="name" @text="Name" />
  <Input @value={{this.name}}
    class="form-control"
    id="name"
    placeholder="Role's name" />
</div>

<div class="d-flex flex-wrap permissions">
  {{#each this.permission_groups as |perm_group|}}
    <div class="m-2 permission-group">
      <Input @type="checkbox" />
      <label>{{perm_group.model}}</label>
      {{#each perm_group.perms as |perm|}}
        <Permission @permission={{perm}} @role={{this.role}} />
      {{/each}}
      </div>
  {{/each}}
</div>

<div class="mb-3">
  <Button::Submit @onClick={{this.onSubmit}} />
  <Button::Cancel @route="roles"/>
</div>