<tr>
  <td>
    {{@role.name}}
  </td>
  <td>
    {{@role.created_at}}
  </td>
  <td>
    {{@role.updated_at}}
  </td>
  <td>
  <LinkTo @route="roles.edit" @model={{@role.id}}>Edit
  </LinkTo>
  <Button::Link
    @text="Remove"
    @onClick={{(fn this.onRemove @role)}} />
  </td>
</tr>