<div class="row mb-3">
  <div class="col">
    <Label @for="username" @text="Username" />
    <Input @value={{this.username}}
      class="form-control"
      id="username"
      placeholder="username" />
  </div>

  <div class="col">
    <Label @for="email" @text="Email Address" />
    <Input @value={{this.email}}
      class="form-control"
      id="email"
      placeholder="Email address" />
  </div>
</div>

<div class="row mb-3">
  <div class="col">
    <Label @for="first_name" @text="First Name" />
    <Input @value={{this.first_name}}
      class="form-control"
      id="first_name"
      placeholder="first name" />
  </div>

  <div class="col">
    <Label @for="last_name" @text="Last Name" />
    <Input @value={{this.last_name}}
      class="form-control"
      id="last_name"
      placeholder="last name" />
  </div>
</div>

<div class="mb-3">
  <Label @for="groups" @text="Groups" />
  <div>
    {{#each @all_groups as |opt|}}
      <span class="m-2">
        <Input @type="checkbox" />
        <Label @text={{opt.name}} />
      </span>
    {{/each}}
  </div>
</div>

<div class="mb-3">
  <Label @for="role" @text="Role" />
  <select class="form-control">
  {{#each @all_roles as |opt|}}
    <option value="{{opt.id}}">{{opt.name}}</option>
  {{/each}}
</select>
</div>

<div class="mb-3">
  <Input
    @type="checkbox"
    @checked={{this.is_superuser}} />
  <Label @for="is_superuser" @text="Is Superuser" />
</div>
<div class="mb-3">
  <Input
    @type="checkbox"
    @checked={{this.is_staff}} />
  <Label @for="is_staff" @text="Is Staff" />
</div>
<div class="mb-3">
  <Input
    @type="checkbox"
    @checked={{this.is_active}} />
  <Label @for="is_active" @text="Is Active" />
</div>

<p class="text-muted">
You will be able to set password for this user, after it is created.
</p>

<div class="mb-3">
  <Button::Submit
    @onClick={{this.onSubmit}}
    @disabled={{this.disabled}} />
  <Button::Cancel @route="authenticated.users"/>
</div>