<tr>
  <td>
    {{@user.username}}
  </td>
  <td>
    {{@user.email}}
  </td>
  <td>
    {{@user.is_superuser}}
  </td>
  <td>
    {{@user.is_active}}
  </td>
  <td>
    <LinkTo
      @route="authenticated.users.edit"
      @model={{@user.id}}>Edit</LinkTo>
    <Button::Link @text="Remove"
      @onClick={{(fn this.onRemove @user)}} />
    <LinkTo
      @route="authenticated.users.change_password"
      @model={{@user.id}}>Change Password</LinkTo>
  </td>
</tr>