<tr>
  <td>
    {{@user.username}}
  </td>
  <td>
    {{@user.email}}
  </td>
  <td>
    {{@user.is_superuser}}
  </td>
  <td>
    {{@user.is_active}}
  </td>
  <td>
    {{#if (has_perm 'edit_user')}}
      <LinkTo
        @route="authenticated.users.edit"
        @model={{@user.id}}>Edit</LinkTo>
    {{/if}}

    {{#if (has_perm 'delete_user')}}
      <Button::Link @text="Remove"
        @onClick={{(fn this.onRemove @user)}} />
    {{/if}}

    {{#if (has_perm 'edit_user')}}
      <LinkTo
        @route="authenticated.users.change_password"
        @model={{@user.id}}>Change Password</LinkTo>
    {{/if}}
  </td>
</tr>
