<div class="d-flex">
  {{#if this.thumbnails_visible}}
    <Viewer::Thumbnails
      @pages={{@pages}}
      @selectedPages={{@selectedPages}}
      @onDblClick={{this.onThumbnailDblClick}}
      @onCheckboxChange={{@onCheckboxChange}}
      @onThumbnailsPositionChanged={{@onThumbnailsPositionChanged}}/>
  {{/if}}
  <Viewer::ThumbnailsSwitch
    @onThumbnailsToggle={{this.onThumbnailsToggle}}
    @thumbnails_visible={{this.thumbnails_visible}} />
  <Viewer::Pages
    @pages={{@pages}}
    @scroll_to_page={{this.scroll_to_page}}
    @onZoomIn={{this.onZoomIn}}
    @onZoomOut={{this.onZoomOut}}
    @onZoomFit={{this.onZoomFit}}
    @zoom_factor={{this.zoom_factor}} />
</div>
