{{#if @route}}
  <LinkTo
      @route={{@route}}
      class="btn btn-success">
        <i class="bi bi-plus-lg mx-1"></i>
        {{this.text}}
  </LinkTo>
{{else}}
  <button
    class="btn btn-success"
    type="button"
    {{on "click" @onClick}}>
      <i class="bi bi-plus-lg mx-1"></i>
    {{this.text}}
  </button>
{{/if}}

