<Modal::Base
  @title="Confirm Page Move"
  @actionTitle="Yes"
  @onClose={{this.onCancel}}
  @onSubmit={{this.onSubmit}}
  @submitButtonClass="btn-success"
  @onCancel={{this.onCancel}}
  ...attributes>
  <p>
    Do you want to move selected pages to document {{this.dst_title}}?
  </p>
  <p>
    <p>
      Place pages at the:
      <Select @options={{this.position}} name="position" />
      of the target document
    </p>
 
    <Input @checked={{this.merge}}
      @type="checkbox"
      class="form-control-checkbox"
      id="merge" />
    <Label
      @for="merge"
      @text="Create new version ONLY from selected pages (merge)" />
  </p>
</Modal::Base>
