<Modal::Base
  @title="Confirm Page Move"
  @actionTitle="Yes"
  @onClose={{this.onCancel}}
  @onSubmit={{this.onSubmit}}
  @submitButtonClass="btn-success"
  @onCancel={{this.onCancel}}
  ...attributes>
  <p>
    You selected {{this.count}} page(s).
    Do you want to move selected page(s) to folder {{this.dst_title}}?
  </p>
  <p>
    <Input @checked={{this.single_page}}
      @type="checkbox"
      class="form-control-checkbox"
      id="single_page" />
    <Label
      @for="single_page"
      @text="Extract each page into separate document" />
  </p>
</Modal::Base>
