<Modal::Base
  @title="Confirm Page Move"
  @actionTitle="Yes"
  @onClose={{this.onCancel}}
  @onSubmit={{this.onSubmit}}
  @submitButtonClass="btn-success"
  @onCancel={{this.onCancel}}
  ...attributes>
  <p>
    Do you want to move selected pages to document '{{this.dst_title}}' ?
  </p>
  <p>
    <p>
      <Label
        @for="strategy"
        @text="Move Strategy:" />
      <Select
        @options={{this.strategy_options}}
        @onChange={{this.onStrategyChanged}}
        name="strategy" />
    </p>
    <p>
      {{#if this._merge}}
        <!-- pass -->
      {{else}}
        Append pages to:
        <Select
          @options={{this.position}}
          @onChange={{this.onPositionChanged}}
          name="position" />
      {{/if}}
    </p>
  </p>
</Modal::Base>
