<div
  class="d-flex flex-column thumbnails"
  {{droppable
    onDrop=this.onDrop
    onDragOver=this.onDragOver
    onDragEnter=this.onDragEnter
    onDragLeave=this.onDragLeave }}

  {{adjust_element_height}}>
  {{#each @pages as |page|}}
    {{#if page.is_drop_placeholder}}
      <Viewer::Thumbnail::DropPlaceholder />
    {{else}}
      <Viewer::Thumbnail
        @doc={{@doc}}
        @page={{page}}
        @selectedPages={{@selectedPages}}
        @onDblClick={{@onDblClick}}
        @onDragendSuccess={{this.onDragendSuccess}}
        @onDragendCancel={{this.onDragendCancel}}
        @onCheckboxChange={{@onCheckboxChange}} />
    {{/if}}
  {{/each}}
</div>
