<select
  {{on 'change' this.onChange}}
  class="form-select"
  ...attributes>
  {{#each @options as |opt|}}
    {{#if opt.selected}}
      <option value="{{opt.key}}" selected>{{opt.value}}</option>
    {{else }}
      <option value="{{opt.key}}">{{opt.value}}</option>
    {{/if}}
  {{/each}}
</select>