<tr>
{{#if  (is_equal this.edit_mode_id @tag.id)}}
  {{! inline edit }}
  <td>
      <p class="my-2">
        <Tag::Item
          @name={{@tag.name}}
          @fg_color={{@tag.fg_color}}
          @bg_color={{@tag.bg_color}} />
      </p>
      <Input
        id="name"
        @type="text"
        @value={{@tag.name}}
        class="form-control"
      />
      <div class="d-flex flex-row">
        <Input id="fg_color" @type="color" @value={{@tag.fg_color}} class="form-control form-control-color" />
        <Input id="bg_color" @type="color" @value={{@tag.bg_color}} class="form-control form-control-color" />
      </div>
  </td>
  <td>
    <Input @type="checkbox" @checked={{@tag.pinned}} class="form-check-input" id="is_pinned" />
  </td>
  <td>
      <Input
        id="description"
        @type="text"
        @value={{@tag.description}}
        class="form-control" />
  </td>
  <td>
    <button class="btn btn-secondary" type="button" {{on "click" this.onCancel}}>
    Cancel
    </button>
    <button
        type="button"
        class="btn btn-success"
        {{on "click" (fn this.onSaveChanges @tag)}}>
        Save Changes
    </button>
  </td>
  {{! END OF inline edit }}
{{else}}
  <td>
    <Tag::Item
        @name={{@tag.name}}
        @fg_color={{@tag.fg_color}}
        @bg_color={{@tag.bg_color}} />
  </td>
  <td>
    <Boolean @value={{@tag.pinned}} />
  </td>
  <td>{{@tag.description}}</td>
  <td>
    <button class="btn btn-link" type="button" {{on "click" (fn this.onEdit @tag)}}>
    Edit
    </button>
    <button class="btn btn-link" type="button" {{on "click" (fn this.onRemove @tag)}}>
    Remove
    </button>
  </td>
{{/if}}
</tr>