<div class="d-flex">

  <Commander::ViewMode
    @onViewModeChange={{@onViewModeChange}}
    @viewMode={{@viewMode}} />

  <PanelModes
    @dualPanelMode={{@dualPanelMode}}
    @hint={{@hint}}
    @onSwapPanels={{@onSwapPanels}}
    @onDuplicatePanel={{@onDuplicatePanel}} />

  <div class="panel-mode">
    {{#if @dualPanelMode}}
      <button type="button" class="btn btn-light mx-1"
        {{tooltip title='Close panel' placement='bottom'}}
        {{on "click" (perform @onPanelToggle @hint) }}>
          <i class="bi-x"></i>
      </button>
    {{else}}
      <button type="button" class="btn btn-light mx-1"
        {{tooltip title='Split panel' placement='bottom'}}
        {{on "click" (perform @onPanelToggle @hint) }}>
        <i class="bi-layout-split"></i>
      </button>
    {{/if}}
  </div>
</div>
