<div>
  {{#if this.one_node_selected}}
    <Button::Download
      @inProgress={{this.download_in_progress}}
      @onDownloadNodes={{this.onDownloadNodes}} />

    <button class="btn btn-light"
      {{on "click" this.onRename}}
      {{tooltip title='Rename' placement='bottom'}}>
        <i class="bi bi-pencil"></i>
    </button>

    <button
      type="button"
      data-bs-toggle="dropdown"
      class="btn btn-light dropdown-toggle mx-1"
      {{tooltip title='More' placement='right'}}>
      <i class="bi bi-three-dots"></i>
    </button>
    <ul class="dropdown-menu"
      aria-expand="false"
      aria-labelledby="display-mode">
      <li>
        <a class="dropdown-item"
            role='button'
            {{on "click" @openTagsModal}}>
          <i class="bi bi-tag"></i>
          Tags
        </a>
      </li>
      <li><hr class="dropdown-divider"></li>
      <li>
        <a class="dropdown-item"
            role='button'
            {{on "click" @openConfirmDeletionModal}}>
          <i class="bi bi-trash"></i>
          Delete
        </a>
      </li>
    </ul>
  {{else if this.multiple_nodes_selected}}
    <Button::Download
      @inProgress={{this.download_in_progress}}
      @onDownloadNodes={{this.onDownloadNodes}} />

    <button
      type="button"
      data-bs-toggle="dropdown"
      class="btn btn-light mx-1"
      {{tooltip title='More ...' placement='right'}}>
      ...
    </button>
    <ul class="dropdown-menu"
      aria-expand="false"
      aria-labelledby="display-mode">
      <li>
        <a class="dropdown-item"
            role='button'
            {{on "click" @openTagsModal}}>
          <i class="bi bi-tag"></i>
          Tags
        </a>
      </li>
      <li>
        <a class="dropdown-item"
            role='button'
            {{on "click" @openConfirmDeletionModal}}>
          <i class="bi bi-trash"></i>
          Delete
        </a>
      </li>
    </ul>
  {{else}}
    {{! No nodes are currently selected }}
    <Button::Upload
      @node={{@node}}
      @lang={{@lang}}
      @onCreateDocumentModel={{@onCreateDocumentModel}} />

    <button type="button" class="btn btn-light"
      {{on "click" @openNewFolderModal}}
      {{tooltip title='New Folder' placement='bottom'}}>
        <i class="bi bi-folder-plus mr-1"></i>
    </button>
  {{/if}}
</div>