<div class="d-flex">

  <Commander::ViewMode
    @onViewModeChange={{@onViewModeChange}}
    @viewMode={{@viewMode}} />

  <PanelModes
    @node={{@node}}
    @extra_id={{@extra_id}}
    @extra_type={{@extra_type}}
    @hint={{@hint}}
    @onSwapPanels={{@onSwapPanels}}
    @swap_panels={{@swap_panels}}
    @onDuplicatePanel={{@onDuplicatePanel}} />

  <div class="panel-mode">
    {{#if @extra_id}}
      {{#if (is_equal @hint 'right')}}
        <button type="button" class="btn btn-light mx-1"
          {{tooltip title='Close panel' placement='bottom'}}
          {{on "click" (perform @onPanelToggle "close" undefined undefined undefined) }}>
            <i class="bi-x"></i>
        </button>
      {{/if}}
    {{else}}
      <button type="button" class="btn btn-light mx-1"
        {{tooltip title='Split panel' placement='bottom'}}
        {{on "click" (perform @onPanelToggle "open" undefined undefined undefined) }}>
        <i class="bi-layout-split"></i>
      </button>
    {{/if}}
  </div>
</div>
