<div class="panel commander row">
  <div class="d-flex justify-content-between">
    <Commander::ActionButtons
      @openNewFolderModal={{this.openNewFolderModal}} />

    <Commander::ActionModes
      @onPanelToggle={{@onPanelToggle}}
      @dualPanelMode={{@dualPanelMode}} />
  </div>

  <Modal::NewFolder
    id="new-folder"
    @node={{@node}}
    @onClose={{this.closeNewFolderModal}}
    {{show-when this.show_new_folder_modal}} />

  <Breadcrumb::Left
    @node={{@node}}
    @extranode={{@extranode}} />

  {{#each @nodes as |node|}}
    {{#let (component node.nodeType) as |NodeType|}}
      {{! NodeType is either <Folder /> or <Document />}}
      <NodeType @model={{node}}>
        {{#if @extranode}}
          <LinkTo
            @route="authenticated.nodes"
            @model={{node.id}}
            @query={{hash extranode_id=@extranode.id}}>
              {{node.title}}
          </LinkTo>
        {{else}}
          <LinkTo
            @route="authenticated.nodes"
            @model={{node.id}}>
              {{node.title}}
          </LinkTo>
        {{/if}}
      </NodeType>
    {{/let}}
  {{/each}}
</div>
