<div class="panel commander">
  <div>
    <button class="btn btn-bordered btn-light btn-flat"
    type="button">
      <i class="fa fa-upload mr-1 text-success"></i>
      Upload
    </button>

    <button class="btn btn-bordered btn-light btn-flat"
    type="button" {{on "click" this.openNewFolderModal }}>
      <i class="fa fa-plus mr-1 text-success"></i>
      New Folder
    </button>
  </div>

  <Modal::NewFolder
    id="new-folder"
    @node={{@node}}
    @onClose={{this.closeNewFolderModal}}
    {{show-when this.show_new_folder_modal}} />

  <Breadcrumb::Right
    @node={{@node}}
    @extranode={{@extranode}} />

  {{#each @nodes as |node|}}
    <Folder @model={{node}}>
      <LinkTo
        @route="authenticated.nodes"
        @model={{@extranode.id}}
        @query={{hash extranode_id=node.id}}>
          {{node.title}}
      </LinkTo>
    </Folder>
  {{/each}}
</div>
