<div class="node folder
  {{if this.is_selected "checked"}}"
  {{draggable @model
    selectedItems=@selectedNodes
    onDragStart=this.onDragStart
    onDragendSuccess=@onDragendSuccess
    onDragendCancel=@onDragendCancel}}>

  <Input
    @type="checkbox"
    @checked={{this.is_selected}}
    {{on "change" this.onCheckboxChange}} />
  <div class="icon folder"></div>

  <div class='tags'>
    {{#each this.tags as |tag|}}
      <Tag::Item @tag={{tag}} />
    {{/each}}
  </div>

  <div class="title">
    {{yield}}
  </div>
</div>
