<div class="preferences container">
  <h5>
    <LinkTo
      @route="authenticated.preferences"
      class="text-decoration-none">
        Preferences
    </LinkTo>
    / {{capitalize @model.section_name}}
  </h5>

  <form>
    {{#each @model.sections as |preference|}}
      {{#let (component preference.field.class) as |PrefType|}}
        {{! PrefType is one of "ChoiceField", "BooleanField" or "CharField" }}
        <PrefType
          @model={{preference}}
          @onChange={{this.onChange}} />
      {{/let}}
    {{/each}}
    <div class="mb-3">
      <Button::Submit
        @onClick={{this.onSubmit}}
        @disabled={{this.disabled}} />
      <Button::Cancel
        @onClick={{this.onCancel}} />
    </div>
  </form>
</div>
