<nav aria-label="breadcrumb" class="m-2 nav-breadcrumb">
   <ol class="breadcrumb">
    {{#each this.nodes as |node|}}
      <Breadcrumb::Item
        @onNodeClicked={{@onNodeClicked}}
        @loadNodeData={{@loadNodeData}}
        @currently_loading_state={{@currently_loading_state}}
        @node={{node}}
        @hint={{@hint}} />
    {{/each}}
  </ol>
</nav>