<li class="breadcrumb-item">
  {{#if (is_equal @node.title ".inbox")}}
    {{#if this.show_spinner}}
      <Spinner @inProgress={{true}} class="text-primary" />
    {{else}}
      <Spinner @inProgress={{false}} class="text-primary" />
    {{/if}}
      <Breadcrumb::Inbox />
  {{else if (is_equal @node.title ".home")}}
    {{#if this.show_spinner}}
      <Spinner @inProgress={{true}} class="text-primary" />
    {{else}}
      <Spinner @inProgress={{false}} class="text-primary" />
    {{/if}}
    <Breadcrumb::Home />
  {{/if}}

  <button
    class="btn btn-link"
    {{on "click" (perform @onNodeClicked @node @hint 'folder')}}>
      {{#if (is_equal @node.title ".inbox")}}
        Inbox
      {{else if (is_equal @node.title ".home")}}
        Home
      {{else}}
        {{@node.title}}
      {{/if}}
  </button>
</li>
