<nav aria-label="breadcrumb" class="m-2">
   <ol class="breadcrumb">
    {{#each this.nodes as |node|}}
      <li class="breadcrumb-item">
        {{#if @extranode}}
          <LinkTo
            @route="authenticated.nodes"
            @model={{node.id}}
            @query={{hash extranode_id=@extranode.id}}>
              {{node.title}}
          </LinkTo>
        {{else}}
          <LinkTo
            @route="authenticated.nodes"
            @model={{node.id}}>
              {{node.title}}
          </LinkTo>
        {{/if}}
      </li>
    {{/each}}
  </ol>
</nav>