<div class="mb-3">
  <Label @for="name" @text="Name" />
  <Input @value={{this.name}}
    class="form-control"
    id="name"
    placeholder="Group's name" />
</div>

<div class="d-flex flex-wrap permissions">
  {{#each this.permission_groups as |perm_group|}}
  <Group::PermissionGroup
    @perm_group={{perm_group}}
    @new_group_perms={{this.new_group_perms}} />
  {{/each}}
</div>

<div class="mb-3">
  <Button::Submit
    @onClick={{this.onSubmit}}
    @disabled={{this.disabled}} />
  <Button::Cancel
    @onClick={{this.onCancel}} />
</div>
