<Button::New @onClick={{this.onToggleNew}} />


{{#if this.form_visible}}
    <form>
        <div class="row mb-2">
            <div class="col-md-6">
                <label for="name" class="form-label">Name</label>
                <Input
                    id="name"
                    @type="text"
                    @value={{this.new_name}}
                    class="form-control"
                />
            </div>
            <div class="col-md-6">
                <label for="action" class="form-label">Action</label>
                <div>
                    <Button::Cancel
                        @onClick={{this.onCancel}} />
                    <Button::Submit
                        @onClick={{this.onCreate}}
                        @enabled={{this.new_name}}
                        @text="Create Group" />
                </div>
            </div>
        </div>
    </form>
{{/if}}