<div class="m-2 permission-group">
  <Input
    @type="checkbox"
    @checked={{this.isChecked}}
    {{on "change" this.onChangeGroupPermissions}} />
  <label>{{@perm_group.model}}</label>
  {{#each @perm_group.perms as |perm|}}
    <Group::Permission
      @permission={{perm}}
      @new_group_perms={{@new_group_perms}}
      @onChange={{this.onChange}} />
  {{/each}}
</div>