<form class="d-flex flex-column autocomplete-search"
  {{on-click-outside this.onClickOutside}}>
  <div class="d-flex">
    <div class="input-group">
      <button class="btn btn-light border-0" type="button">
         <i class="fa fa-search text-muted"></i>
      </button>
      <Input
        @value={{this.query}}
        {{on "keyup" this.onKeyup}}
        class="form-control" />
        {{#if this.autocomplete_items}}
          <button
            {{on "click" this.clearSearch}}
            class="btn btn-light border-0" type="button">
              <i class="fa fa-times text-muted"></i>
          </button>
        {{/if}}
    </div>
  </div>
  <ul class="autocomplete-items">
    {{#each this.autocomplete_items as |item|}}
      <Search::AutocompleteItem
        @item={{item}}
        @onOpen={{this.openItem}} />
    {{/each}}
  </ul>
</form>
