<div class="panels d-flex row {{if this.swap_panels 'flex-row-reverse'}}">
  <Viewer
    @doc={{@model.doc}}
    @pages={{@model.pages}}
    @onPanelToggle={{this.onPanelToggle}}
    @onNodeClicked={{this.onNodeClicked}}
    @loadNodeData={{this.loadNodeData}}
    @currently_loading_state={{this.currently_loading_state}}
    @extra_id={{this.extra_id}}
    @extra_type={{this.extra_type}}
    @hint="left"
    @onSwapPanels={{this.onSwapPanels}}
    @swap_panels={{this.swap_panels}}
    @onDuplicatePanel={{this.onDuplicatePanel}} />

  {{#if this.extra}}
    {{#if this.extra.doc}}
      <Viewer
        @doc={{this.extra.doc}}
        @pages={{this.extra.pages}}
        @onPanelToggle={{this.onPanelToggle}}
        @extra_id={{@model.doc.id}}
        @extra_type='doc'
        @swap_panels={{this.swap_panels}}
        @onNodeClicked={{this.onNodeClicked}}
        @loadNodeData={{this.loadNodeData}}
        @currently_loading_state={{this.currently_loading_state}}
        @hint="right"
        @onSwapPanels={{this.onSwapPanels}}
        @onDuplicatePanel={{this.onDuplicatePanel}} />
    {{else if this.onPanelToggle.isRunning }}
      <Commander::Placeholder />
    {{else}}
      <Commander
        @node={{this.extra.current_node}}
        @children={{this.extra.children}}
        @pagination={{this.extra.pagination}}
        @onNodeClicked={{this.onNodeClicked}}
        @loadNodeData={{this.loadNodeData}}
        @node_clicked_state={{this.node_clicked_state}}
        @currently_loading_state={{this.currently_loading_state}}
        @onPanelToggle={{this.onPanelToggle}}
        @extra_id={{this.extra_id}}
        @extra_type={{this.extra_type}}
        @swap_panels={{this.swap_panels}}
        @hint="right"
        @onSwapPanels={{this.onSwapPanels}}
        @onDuplicatePanel={{this.onDuplicatePanel}} />
    {{/if}}
  {{/if}}
</div>
