<div>
  <button class="btn btn-bordered btn-light btn-flat"
  type="button">
    <i class="fa fa-upload mr-1 text-success"></i>
    Upload
  </button>

  <button class="btn btn-bordered btn-light btn-flat"
  type="button" {{on "click" this.openNewFolderModal }}>
    <i class="fa fa-plus mr-1 text-success"></i>
    New Folder
  </button>
</div>


<Modal::NewFolder
  id="new-folder"
  @onClose={{this.closeNewFolderModal}}
  {{show-when this.show_new_folder_modal}} />

{{@model.title}}


<Panel @nodes={{model.children}} />