<div class="panels d-flex row">
  <Commander
    @node={{@model.current_node}}
    @children={{@model.children}}
    @pagination={{@model.pagination}}
    {{! extranode/extradoc are passed to breadcrumb and local dual links }}
    @extranode={{@model.extra.current_node}}
    @extradoc={{@model.extra.doc}}
    @onPanelToggle={{this.onPanelToggle}}
    @dualPanelMode={{this.dualpanel_mode}}
    @hint="left"
    @onSwapPanels={{this.onSwapPanels}}
    @onDuplicatePanel={{this.onDuplicatePanel}} />

  {{#if @model.extra}}
    {{#if @model.extra.doc}}
      <Viewer
        @doc={{@model.extra.doc}}
        @pages={{@model.extra.pages}}
        @extranode={{@model.current_node}}
        @onPanelToggle={{this.onPanelToggle}}
        @dualPanelMode={{this.dualpanel_mode}}
        @hint="right"
        @onSwapPanels={{this.onSwapPanels}}
        @onDuplicatePanel={{this.onDuplicatePanel}} />
    {{else}}
      <Commander
        @node={{@model.extra.current_node}}
        @children={{@model.extra.children}}
        @pagination={{@model.extra.pagination}}
        @extranode={{@model.current_node}}
        @onPanelToggle={{this.onPanelToggle}}
        @dualPanelMode={{this.dualpanel_mode}}
        @hint="right"
        @onSwapPanels={{this.onSwapPanels}}
        @onDuplicatePanel={{this.onDuplicatePanel}} />
    {{/if}}
  {{/if}}
</div>
