<div class="panels d-flex">
  <Panel
    @node={{this.mainnode}}
    @nodes={{this.mainnode.children}}
    @extranode={{this.extranode}} />

  {{#if this.extranode}}
    <Panel
      @node={{this.extranode}}
      @nodes={{this.extranode.children}}
      @mainnode={{this.mainnode}} />
  {{/if}}
</div>