<div class="panels d-flex">
  <Commander::Left
    @node={{this.mainnode}}
    @nodes={{this.mainnode.children}}
    @extranode={{this.extranode}} />

  {{#if this.extranode}}
    <Commander::Right
      @node={{this.extranode}}
      @nodes={{this.extranode.children}}
      @extranode={{this.mainnode}} />
  {{else this.extradoc}}
    <Viewer::Right
      @doc={{this.extradoc}}
      @extranode={{this.mainnode}} />
  {{/if}}
</div>