<div class="panels d-flex">
  <Commander::Left
    @node={{this.mainnode}}
    @nodes={{this.mainnode.children}}
    @extranode={{this.extranode}}
    @onPanelToggle={{this.onPanelToggle}}
    @dualPanelMode={{this.dualpanel_mode}} />

  {{#if this.dualpanel_mode}}
    <Commander::Right
      @node={{this.extranode}}
      @nodes={{this.extranode.children}}
      @extranode={{this.mainnode}}
      @onPanelToggle={{this.onPanelToggle}}
      @dualPanelMode={{this.dualpanel_mode}} />
  {{/if}}
</div>
