<div class="panels d-flex row">
  <Commander
    @node={{@model.current_node}}
    @extranode={{@model.extra.current_node}}
    @children={{@model.children}}
    @pagination={{@model.pagination}}
    @onPanelToggle={{this.onPanelToggle}}
    @dualPanelMode={{this.dualpanel_mode}}
    @hint="left" />

  {{#if @model.extra}}
    {{#if @model.extra.doc}}
      <Viewer
        @doc={{@model.extra.doc}}
        @pages={{@model.extra.pages}}
        @extranode={{this.extranode}}
        @onPanelToggle={{this.onPanelToggle}}
        @dualPanelMode={{this.dualpanel_mode}}
        @hint="right" />
    {{else}}
      <Commander
        @node={{@model.extra.current_node}}
        @extranode={{@model.current_node}}
        @children={{@model.extra.children}}
        @pagination={{@model.extra.pagination}}
        @onPanelToggle={{this.onPanelToggle}}
        @dualPanelMode={{this.dualpanel_mode}}
        @hint="right" />
    {{/if}}
  {{/if}}
</div>
