<div class="panels d-flex row">
  <Commander
    @node={{this.mainnode}}
    @extranode={{this.extranode.current_node}}
    @children={{this.children}}
    @pagination={{this.pagination}}
    @onPanelToggle={{this.onPanelToggle}}
    @dualPanelMode={{this.dualpanel_mode}}
    @hint="left" />

  {{#if this.dualpanel_mode}}
    {{#if this.document_version}}
      <Viewer
        @document_version={{this.document_version}}
        @pages={{this.pages}}
        @extranode={{this.extranode}}
        @onPanelToggle={{this.onPanelToggle}}
        @dualPanelMode={{this.dualpanel_mode}}
        @hint="right" />
    {{else}}
      <Commander
        @node={{this.extranode.current_node}}
        @extranode={{this.mainnode}}
        @children={{this.extranode.children}}
        @pagination={{this.extranode.pagination}}
        @onPanelToggle={{this.onPanelToggle}}
        @dualPanelMode={{this.dualpanel_mode}}
        @hint="right" />
    {{/if}}
  {{/if}}
</div>
