<div class="panels d-flex row">
  <Commander
    @node={{@model.current_node}}
    @children={{@model.children}}
    @pagination={{@model.pagination}}
    {{! extranode/extradoc are passed to breadcrumb and local dual links }}
    @onPanelToggle={{this.onPanelToggle}}
    @onNodeClicked={{this.onNodeClicked}}
    @node_clicked_state={{this.node_clicked_state}}
    @dualPanelMode={{this.dualpanel_mode}}
    @hint="left"
    @onSwapPanels={{this.onSwapPanels}}
    @onDuplicatePanel={{this.onDuplicatePanel}} />

  {{#if this.extra}}
    {{#if this.extra.doc}}
      <Viewer
        @doc={{this.extra.doc}}
        @pages={{this.extra.pages}}
        @extranode={{@model.current_node}}
        @onPanelToggle={{this.onPanelToggle}}
        @dualPanelMode={{this.dualpanel_mode}}
        @hint="right"
        @onSwapPanels={{this.onSwapPanels}}
        @onDuplicatePanel={{this.onDuplicatePanel}} />
    {{else if this.onPanelToggle.isRunning }}
      <Commander::Placeholder />
    {{else}}
      <Commander
        @node={{this.extra.current_node}}
        @children={{this.extra.children}}
        @pagination={{this.extra.pagination}}
        @onNodeClicked={{this.onNodeClicked}}
        @node_clicked_state={{this.node_clicked_state}}
        @onPanelToggle={{this.onPanelToggle}}
        @dualPanelMode={{this.dualpanel_mode}}
        @hint="right"
        @onSwapPanels={{this.onSwapPanels}}
        @onDuplicatePanel={{this.onDuplicatePanel}} />
    {{/if}}
  {{/if}}
</div>
