<div class="panels d-flex row">
  <Commander
    @node={{this.mainnode}}
    @extranode={{this.extranode}}
    @onPanelToggle={{this.onPanelToggle}}
    @dualPanelMode={{this.dualpanel_mode}}
    @hint="left" />

  {{#if this.dualpanel_mode}}
    <Commander
      @node={{this.extranode}}
      @extranode={{this.mainnode}}
      @onPanelToggle={{this.onPanelToggle}}
      @dualPanelMode={{this.dualpanel_mode}}
      @hint="right" />
  {{/if}}
</div>
