<div class="panels d-flex row {{if this.swap_panels 'flex-row-reverse'}}">
  <Commander
    @node={{@model.current_node}}
    @children={{@model.children}}
    @pages={{this.pages}}
    @onPaginationPageClick={{this.onPaginationPageClick}}
    {{! extranode/extradoc are passed to breadcrumb and local dual links }}
    @onPanelToggle={{this.onPanelToggle}}
    @onNodeClicked={{this.onNodeClicked}}
    @loadNodeData={{this.loadNodeData}}
    @node_clicked_state={{this.node_clicked_state}}
    @currently_loading_state={{this.currently_loading_state}}
    @dualPanelMode={{this.dualpanel_mode}}
    @hint="left"
    @swap_panels={{this.swap_panels}}
    @onSwapPanels={{this.onSwapPanels}}
    @onDuplicatePanel={{this.onDuplicatePanel}} />

  {{#if this.extra}}
    {{#if this.extra.doc}}
      <Viewer
        @doc={{this.extra.doc}}
        @pages={{this.extra.pages}}
        @onPanelToggle={{this.onPanelToggle}}
        @dualPanelMode={{this.dualpanel_mode}}
        @onNodeClicked={{this.onNodeClicked}}
        @loadNodeData={{this.loadNodeData}}
        @currently_loading_state={{this.currently_loading_state}}
        @hint="right"
        @onSwapPanels={{this.onSwapPanels}}
        @onDuplicatePanel={{this.onDuplicatePanel}} />
    {{else if this.onPanelToggle.isRunning }}
      <Commander::Placeholder />
    {{else}}
      <Commander
        @node={{this.extra.current_node}}
        @children={{this.extra.children}}
        @pages={{this.extra.pages}}
        @onPaginationPageClick={{this.onPaginationPageClick}}
        @onNodeClicked={{this.onNodeClicked}}
        @loadNodeData={{this.loadNodeData}}
        @node_clicked_state={{this.node_clicked_state}}
        @currently_loading_state={{this.currently_loading_state}}
        @onPanelToggle={{this.onPanelToggle}}
        @dualPanelMode={{this.dualpanel_mode}}
        @swap_panels={{this.swap_panels}}
        @hint="right"
        @onSwapPanels={{this.onSwapPanels}}
        @onDuplicatePanel={{this.onDuplicatePanel}} />
    {{/if}}
  {{/if}}
</div>
