<Tag::New
  @onCreate={{this.onCreate}} />

<Table @titles={{array 'Tag Name' 'Pinned?' 'Description' 'Action' }}>
  {{#each @model as |tag|}}
    <Tag::TableRow
      @tag={{tag}}
      @onDelete={{this.onDelete}} />
  {{/each}}
</Table>


<Pagination
  @pages={{this.pages}}
  @route="authenticated.tags" />
