<div class="panels d-flex row">
  <Viewer
    @last_document_version={{@model.last_document_version}}
    @document_versions={{@model.document_versions}}
    @doc={{@model.doc}}
    @pages={{@model.pages}}
    @extranode={{this.extranode.current_node}}
    @onPanelToggle={{this.onPanelToggle}}
    @dualPanelMode={{this.dualpanel_mode}}
    @onRunOCR={{this.onRunOCR}}
    @isLocked={{this.isLocked}}
    @hint="left" />

  {{#if this.dualpanel_mode}}
    {{#if this.extra_document_version}}
      <Viewer
        @document_version={{this.extra_document_version}}
        @pages={{this.extra_pages}}
        @extranode={{@model.document_version}}
        @onPanelToggle={{this.onPanelToggle}}
        @dualPanelMode={{this.dualpanel_mode}}
        @hint="right" />
    {{else}}
      <Commander
        @node={{this.extranode.current_node}}
        @children={{this.extranode.children}}
        @pagination={{this.extranode.pagination}}
        @extradoc={{@model}}
        @onPanelToggle={{this.onPanelToggle}}
        @dualPanelMode={{this.dualpanel_mode}}
        @hint="right" />
    {{/if}}
  {{/if}}
</div>
