<main>
  <Nav::Sidebar
    @home_folder_id={{@model.home_folder_id}}
    @inbox_folder_id={{@model.inbox_folder_id}}
    @inbox_count={{@model.inbox_count}}
    @pinned_tags={{@model.pinned_tags}}
    @expanded={{this.expanded_sidebar}} />
  <div class="w-100 central-bar">
    <Nav::Topbar
      @onSidebarToggle={{this.onSidebarToggle}} />
    <div class="container-fluid mx-2 my-1">
      {{outlet}}
    </div>
  </div>
</main>