<main>
  <Nav::Sidebar
    @home_folder={{this.home_folder}}
    @inbox_folder={{this.inbox_folder}}
    @pinned_tags={{@model}}
    @expanded={{this.expanded}} />
  <div class="w-100 central-bar">
    <Nav::Topbar
      @onSidebarToggle={{this.onSidebarToggle}} />
    <div class="container-fluid mx-2 my-1">
      {{outlet}}
    </div>
  </div>
</main>